
body
{   
    margin: 0;
    font-family: "Roboto",sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;

}
.header
{
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}
.head
{
    font-size: 24px;
    color: #F9FaF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
    flex-shrink: 0;   
    margin-bottom: 50px;
    font-weight: 900;
}
.mtext
{
    font-family: "Roboto",sans-serif;
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
    margin-bottom: 12px;

}
.hcontent,a,.himg
{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
ul
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 12px;
}
.headc 
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    max-width: 900px;
    padding: 30px 60px;

}
.himg
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-width: 400px;
}
.placeholder
{
    padding: 100px;
}
.sign-up
{
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    text-align: center;
    padding: 8px;
    color: white;
    font-size: 18px;
    display: flex;
    margin-top: 15px;
    align-items: baseline;
}
.information
{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 50px;
    color: #1F2937;
}
.cards
{
    display: flex;
    justify-content: center;
    margin: 50px;
    flex: 1;
    gap: 18px;
}

.card-image
{
    border-radius: 12px;
    border-color: #3882F6;
    border-style: solid;
    width: 150px;
    height: 150px;
}
.info-text
{
    font-size: 18px;
    color: grey;
    width: 150px;
    display: flex;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.quotes
{
    display: flex;
    background-color: #E5E7Eb;
    font-size: 36px;
    color: grey;
    flex-direction: column;
    font-style: italic;
    padding: 50px 200px;
    margin-bottom: 30px;
}
.speaker
{
    color: #1F2937;
    font-size: 20px;
   justify-content: flex-end;
    display: flex;

}
.quote
{
    padding: 26px;
}
.call
{
   background-color: #3882F6; 
   color: white;
   border-color: white;
   display: flex;
   padding: 20px 45px;
   justify-content: space-evenly;
   flex-basis: 0;
   margin: 70px 220px;
   gap: 8px;
   border-radius: 10px;

}
.cmain
{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 900;
}
.signup .sign-up
{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    height: auto;
    width: 105px;
}
.footer
{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    height: 65px;
    align-items: center;
}